*{
    background-color:bisque ;
    text-align: center;
}
*{
    align-items: center;
}
.reg{
    position: fixed;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:beige;
    position: sticky;
    top: 0;
    margin: 12px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
}

.form label {
    grid-column: span 1; 
}

.form input,
.form select {
    grid-column: span 2; 
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.form input[type="submit"],
.form input[type="reset"] {
    grid-column: span 1; 
    width: auto;
}